* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  padding: 30px;
  transition: 1s;
}
.navbar.scroll {
  background: #dc3445;
  color: #fff !important;
}

.navbar-brand {
  font-weight: bold;
  color: #fff !important;
  padding-left: 200px;
  font-size: 40px;
}

.first {
  padding-left: 170px;
}

.second {
  padding-left: 200px;
}

.nav-link {
  font-weight: bold;
  color: #fff !important;
  text-transform: uppercase;
}
.nav-link:hover{
  color: #dc3445 !important;
}

.header {
  margin: 0;
  padding: 0;
}

.header .img-parent {
  position: relative;
}

.header img {
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

.header .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: 1;
  opacity: 0.7;
}

.header .img-content {
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
}

.header .img-content h6 {
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  opacity: 0.4;
  margin-bottom: 10px;
}

.header .img-content h4 {
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
}

.header .img-content span {
  font-weight: bold;
  font-style: italic;
  font-size: 40px;
  margin-bottom: 10px;
}

/* About us Start */
.aboutus {
  margin: 200px auto;
}
.aboutus h4{
  font-weight: bold;
  font-size: 40px;
}

body span {
  display: flex;
  justify-content: center;
}
.aboutus .first-span{
  font-weight: bold;
  margin-bottom: 90px;
}
.aboutus .span-second{
  font-weight: bold;
  font-size: 30px;
  margin: 20px auto;
}
.aboutus .box{
  box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.5), inset 10px 10px 10px -10px rgba(0,0,0,0.7);
  padding: 50px;
  cursor: pointer;
  border-radius: 20px;
}
.aboutus .last-span{
  letter-spacing: 1px;
  font-weight: bold;
  opacity: 0.5;
}
.aboutus button{
  margin: 40px auto;
}
/* About us End */


/* Services Section Start */
.services{
  margin-bottom: 200px;
  background: #dc3445;
  padding: 150px;
  color: #fff;
}
.services .box{
  box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.5), inset 20px 20px 20px -20px rgba(0,0,0,0.9);
  padding: 20px;
  cursor: pointer;
  border-radius: 20px;
  transition: 1s;
}
.services .box:hover{
  background: #000;
  color: #fff;
}
.services h3{
  font-weight: bold;
  font-size: 40px;
}
.services .first-span{
  margin-bottom: 60px;
  font-size: 20px;
}
/* Services Section End */


/* our Skills Section Start */
.skills{
  margin-bottom: 200px;
}
.skills .skills-shadow-class{
  
  box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.5), inset 20px 20px 20px -20px rgba(0,0,0,0.9);
  padding: 40px;
  cursor: pointer;
  border-radius: 20px;
}
.skills .skills-section-second{
  margin: 20px auto;
}
.skills .skills-section-second h2{
  margin: 30px auto;
}
/* our Skills Section End */


/* Testimonial Section Start */
.testi{
  background: #dc3445;
  padding: 10px;
  color: #fff !important;
}
 .testimonial{
   margin-bottom: 200px;
 }
 .testimonial h2{
   font-weight: bold;
   font-size: 40px;
 }
 .testimonial .box{
  box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.5), inset 20px 20px 20px -20px rgba(0,0,0,0.9);
  padding: 20px;
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
  transition: 1s;
 }
 .testi img{
   border-radius: 40px ;
 }
 .testimonial .box:hover{
   background: #000;
 }
/* Testimonial Section End */

/* contact us Section Start */
 .contact{
   margin-bottom: 200px;
 }
 .contact .shadow-lg {
  box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.5), inset 10px 10px 10px -10px rgba(0,0,0,0.9);
  padding: 20px;
  cursor: pointer;
 }
/* contact us Section End */

/* footer */
footer{
  background: #dc3445;
   padding: 30px;
   color: #fff;
}